* {
    margin: 0px;
    padding: 0px;
}

.navBar {
    font-family: Segoe UI, sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
}

.navBar ul {
    color: #f2f2f2;
    overflow: hidden;
    background: #333;
    text-align: center;
    list-style-type: none;
}

.navBar ul li {
    float: left;
    width: 100px;
    color: #f2f2f2;
    text-decoration: none;
    
}

.navBar ul li a {
    display: block;
    color: #f2f2f2;
    position: relative;
    padding: 15px 10px;
    text-decoration: none;
    
}

.navBar ul li:hover:not(.active) {
    background: #aa5404;
}

.navBar ul li ul {
    z-index: -1;
    left: 8px;
    display: none;
    position: absolute;
}

.navBar ul li:hover ul {
    top: 55px;
    display: block;
    background: #ff7b00;
}

.navBar ul li ul li {
    display: block;
}
.active {
    background: #04AA6D;
}
